/*============================================================================
  Grid Breakpoints and Class Names
    - Do not change the variable names
    - Breakpoint pixel values are used in the window.theme.breakpoints object
==============================================================================*/
/*============================================================================
  Generate breakpoint-specific column widths and push classes
    - Default column widths: $grid-breakpoint-has-widths: ($small, $medium-up);
    - Default is no push classes
==============================================================================*/
/*================ Color Variables ================*/
/*================ Sizing Variables ================*/
/*================ Footer Variables ================*/
/*================ Z-Index ================*/
/*================ SVG ================*/
/*================ Drawers ================*/
/*================ Hero Slider ================*/
/*================ Typography ================*/
/*================ Gift Cards ================*/
/*================ Z-index ================*/
/*================ Product video ================*/
/*================ Image placeholder ================*/
.container {
  width: 80%;
  height: 50%;
  border: 1px solid grey;
  margin: 0 auto;
}
.selector {
  display: flex;
  border-bottom: 1px solid grey;
  background-color: #f1f1f1;
}
.tab {
  padding: 10px;
}
.tab:hover {
  cursor: pointer;
  background-color: darkgrey;
}
.content {
  padding: 10px;
}
.content-body {
  display: none;
}
.show-active {
  display: block;
  animation: fade 1s;
}
.tab-active {
  background-color: darkgrey;
}
@keyframes fade {
  from {
      opacity: 0;
  }
  to {
      opacity:1;
  }
}